body{
  text-align: center;
  background-image: url(https://media.sketchfab.com/models/49efaa2c91094e4ab3c8184d2ec537a9/thumbnails/b0b040369cc541719272d827e328e643/7f49e2acb05a4beab23e908069e2ca22.jpeg);

}
.mainDiv {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightseagreen;
  margin: auto;
  margin-top: 4em;
}



.inputDiv {
  display: flex;
  flex-direction: row;
  background-color: honeydew;
  max-width: 100%;
  height: 100px;

}

.inputField {

  height: 20px;
  margin: auto;
  margin-right: 0px;
  width: 190px;

}

.button {
  background-color: beige;
  margin: auto;
  margin-left: 5px;
  height: 20px;
  border: lightseagreen 3px solid;

}
.items {
  background-color: lightpink;
  height: 600px;
  overflow-y: scroll;
}

.itemBlock {
  background-color: palegoldenrod;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  margin-top: 2px;
  margin-bottom: 2px;

}

.checkBox {
  
}

.item {

}

.deleteItem {
  background-color: red;
  height: 30px;
  width: 30px;

}